---

---

<script>
	import { animate } from "motion"

    console.log('hello');
    window.onload = (e) => {
        console.log('loaded!');

		animate(
    //element for anim via class name from DOM
    ".pName", 
    //properties to animate
    { opacity:100},

    //further props for the animation based on the standard keyframing and easing tech
    {duration: 1,easing:"ease-out",delay: 0.6}
)

animate(
    //element for anim via class name from DOM
    ".silver-box",
    //properties to animate
    { opacity:0.75},

    //further props for the animation based on the standard keyframing and easing tech
    {duration: 1,easing:"ease-out",delay: 1.5}
)


    };

 
</script>

<script>

import  "../scripts/indexAnim.js"
</script>

<html lang="en">
	<head>
        
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/index.css" />

      

    
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap" rel="stylesheet">


		<title>Astro</title>
	</head>
	<body>
       
           
		<div class="container">
             <div class="doob">
                <h1>
                 <span class="pName">Fault</span>
            <span class="pName">Finder</span>
            </h1>
            </div>

            
        </div>
            
            <div class="silver-box" id="silver-box">
            <div class="text">
            <h3>Sharpen your software debugging and optimization skills with the help of <span>AI</span></h3>
            <p>Improve your coding ability by taking on coding challenges that involve finding and fixing critical errors in AI generated solutions to interview level programming questions! </p>
             
                  <button id="redirectButton" >Get Started</button>
            
           
             </div>
           
            </div>
            
		

	</div>


	</body>
</html>
