---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/pageTwo.css" />

		<title>About</title>
	</head>
	<body>
		
        <nav>
			<ul>
				<li>Fault Finder</li>
				<li><a href="index">About</a></li>
			</ul>
		</nav>
		<div class="challenge-stats">
			<hr class="vertical">

			<div class="challenge-sect">
			<h3>Daily Challenge</h3>
			<img src="Images/trophy.png alt=">
			<p>Complete in the daily challenge to claim your leaderboard spot!</p>
			
			</div>
			<div class="stat-sect">
			<h3>My Stats</h3>
			<img src="Images/pie-chart.png alt=">
			<p>View your progress overtime and average scores!</p>
			</div>
		</div>
		<div class="levels">
			<h1>
			Practise	
			</h1>
			<div class="difficulty">
				<h2>
					<span>Easy</span>
					<span> 0/5</span>
					<img src="Images/shuffle.png alt=">
				</h2>
				<h2>
					<span>Medium</span>
					<span> 0/5</span>
					<img src="Images/shuffle.png alt=">
				</h2>
				<h2>
					<span>Hard</span>
					<span> 0/5</span>
					<img src="Images/shuffle.png alt=">
				</h2>
				<h2>
					<span>Head to Head</span>
					<span> 0/5</span>
					<img src="Images/vs.png alt=">
				</h2>

			</div>
			

		</div>
	
	</body>
</html>
