:root {
  --silver-color: #d8d8d8;
}
* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background: url(milad-fakurian-nY14Fs8pxT8-unsplash.jpg) no-repeat center
    fixed;

  background-size: cover;
  position: relative;
  overflow-y: hidden;

  background-color: rgba(33, 33, 33, 0.75);
}

.silver-box {
  border: 2px solid var(--silver-color);
  height: 650px;
  width: 900px;
  border-radius: 20px;
  background-color: var(--silver-color);
  opacity: 0.75;
  z-index: 1;
  position: absolute;
  box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.8);
  top: 3%;
  right: 10%;
}
.text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  gap: 10px;
  text-align: center;
  left: 4%;
}

.text span {
  color: lime;
  opacity: 0.55;
}
.text h3 {
  font-size: 3rem;
}
.text p {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

button {
  border-radius: 30px;
  background-color: #c8e6c9;
  padding: 20px;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  width: 350px;
}
h1 {
  font-size: 6rem;
  color: #b6b1c1;
  margin-right: 70rem;

  text-shadow: rgba(182, 177, 193, 0.3) 5px 5px;
}
h1 span {
  position: relative;
  display: block;
}